@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

@font-face {
  font-family: "Uthman Taha";
  src: url("./fonts/UthmanicHafs1B\ Ver13.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #001b4e;
}

#ayah-box {
  background: #fff;
  width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Uthman Taha', serif;
}

#ayah-translation {
  display: flex;
  justify-content: center;
}

#translation-text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#ayah-number {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#surah-details {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media > a {
  margin-right: .5rem;
  background: #001b4e;
  padding: .3rem .5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: .9;
}

.social-media > a img {
  width: 1.5rem;
}

#new-ayah {
  background:#001b4e;
  border: none;
  color: #fff;
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#new-ayah:hover {
  opacity: .9;
}